<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics }}');
    </script>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/nypower.css">
    <title>NY ISO Grid CO2 Intensity</title>
  </head>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mqtt">MQTT Console</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div id="co2_current">
        <h1>NY ISO Grid CO2 Intensity</h1>
        <h2><span id="co2-per-kwh"></span> <span id="co2-units"></span></h2>
      </div>

      <div id="co2_graph"></div>

      <div id="current_fuel"></div>

      <div>
        <h3>About this site</h3>
        <p>
          The ny-power.org site is a demonstration using kubernetes
          and mqtt to provide real time events from the NY Independent
          System Operator data. It answers the question "what is the
          current co2 emissions for an additional kWh of power right
          now" by combining real time info and 2016 data on CO2 / MWh
          / fuel type burned in NY State.
        </p>
        <p>
          The NY ISO provides near real time information about the
          state of the grid
          (<a href="http://www.nyiso.com/public/markets_operations/market_data/graphs/index.jsp">example</a>). The
          raw data for this is posted as a series of CSV files for
          public consumption
          at <a href="http://mis.nyiso.com/public/">http://mis.nyiso.com/public/</a>. These
          contain 5 minute resolution data, and are updated every 5 to
          20 minutes. The only way to process these are to poll
          frequently.
        </p>
        <p>
          The ny-power app makes it possible to access an event stream
          of this feed through a series of microservices.
          <ul>
            <li>ny-power-pump: a polling service that polls for CSV
              files, and publishes these to an mqtt server</li>
            <li>ny-power-mqtt: an mqtt server available
              at <b>mqtt.ny-power.org</b></li>
            <li>ny-power-archive: tooling that follows the mqtt server
            and writes to an influx db for time series
              calculations</li>
            <li>ny-power-api: provides example front end website which
            has no active polling, and updates exclusively through
              responding to data on the mqtt bus.</li>
          </ul>
        </p>
        <h3>How CO2 intensity is calculated</h3>
        <p>
          A set of simplifying assumptions are made to approximate CO2
          generation per kWh. These are documented in
          the <a href="https://github.com/sdague/nypower/blob/master/nypower/calc.py">github
          source</a>. Like any model or simplification, these are
          approximations made based on the information at hand. These
          numbers should be used as educational information only, and
          not be considered definitive.
        </p>
      </div>

    </main><!-- /.container -->

    <footer class="footer fixed-bottom">
      <div class="container">
        <p>
          Powered by <a href="https://console.bluemix.net/dashboard/apps"><img height="14px"
          src="static/images/ibm-cloud-logo-white.svg"/> IBM <strong>Cloud</strong></a>
        </p>
        <p>
          Last Updated <span id="co2-updated" class="text-muted">Place sticky footer content here.</span>
        </p>
      </div>
    </footer>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"
            type="text/javascript"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      var mqttHost = "{{ mqtt_host }}";
    </script>
    <script src="static/js/mqtt.js"></script>

  </body>
</html>
