
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
}
.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    padding-top: 0.5em;
    background-color: #152935;
    color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 80px;
}

.footer > .container {

    padding-right: 15px;
    padding-left: 15px;
}

code {
  font-size: 80%;
}

pre.msglog {
    max-height: 600px;
    background-color: black;
    color: whitesmoke;
    padding: 1em;
}
