apiVersion: v1
kind: Service
metadata:
  name: ny-power-static
  labels:
    app: static
spec:
  type: LoadBalancer
  ports:
  - name: "http"
    port: 80
    targetPort: 80
  selector:
    app: static
